// if statements allow you to only run
// code if the top stack value is true

17 bind age

if age 50 >= do
	"you are older than 50" print
elif age 20 >= do
	"you are between 20 and 50" print
elif age 15 >= do
	"you are between 15 and 20 years old" print
else do
	"you are under 15" print
end
